.back--dark--1 {
    background-color: black;
    width: 100%;
    height: 555px;
}

.dot {
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dot--selected {
    background-color: white;
}

.mr--150 {
    margin-right: 150px;
}

.mr--15 {
    margin-right: 15px;
}

.flex--1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card--size--2 {
    width: 156px;
    height: 128px;
    margin: 30px 45px;
    flex-direction: column;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}