.back--white {
    width: 100%;
    height: 750px;
}

.back--white p {
    width: 75%;
}

.card--size--2 {
    width: 210px;
    height: 145px;
    margin: 5px;
    flex-direction: column;
    border-radius: 15px;
}

.card--img--1 {
    border-radius: 15px;
    opacity: 0.5;
}

.card--size--selected--1 {
    border: 3px solid #287FDD;
}

.card--size--selected--1 img {
    opacity: 1 !important;
}

.ml--55 {
    margin-left: 55px;
}