.mt--9 {
    margin-top: 40px;
}

.text--middle h2 {
    width: 50%;
}

.text--middle p {
    width: 50%;
}

.mb {
    margin: 5px;
    margin-bottom: 35px;
}

.img--div {
    width: 415px;
    height: 235px;
    border-radius: 10px;
}

.mb p {
    color: white;
}

.img--div:hover {
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}